coverage/
node_modules/
packages/
obj/
bin/
typings/
wwwroot/
Debug/
Release/
OpenCover/
TestResults/
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.ide
# Ignores compiled TypeScript files
**/app/**/*.map
**/app/**/*.js
.vs/
